<section class="container-fluid">
    <div class="row  titles-color">
        <div class="col-sm-12 col-md-12">
            <div class="container">
                <h1> Hope Apostolic Children Ministry Profile</h1>
            </div>
        </div>
    </div>
  </section>
  <section class="container">
    <div class="row">
        <div class="col-12">
            <p>
                Hope Apostolic Children Ministries ( HACM). Started on  31st- March- 2019. Definition: HACM is a Christian children organisation that works with all churches, organisations,
                 Companies and individuals that believe in the Bible ( written word of God). 
            </p>
            <p>
                <b>Vision</b> <br> To see children become disciples of Jesus Christ and filled with Hope to
                 transform their 
                Lives, Families, 
                Communities and Nations around the globe. 
            </p>
            <p>
                <b>Mission</b> <br> 
                To Nurture children to the full stature of Christ
            </p>
            <p>
                <b>Mission statement</b> <br>
                Nurturing children holistically through the 3H ( Heart, Head & Hand ) approach. 

            </p>
            <p>
                <b>Ministry scripture</b> <br> 
                Colossians 1: 27- 28...Christ in you, the Hope of Glory. ...we proclaim Him, admonishing everyone 
                and teaching everyone with all wisdom,
                 so that we may present everyone complete in Christ. 
            </p>
            <p>
                <b>Definition</b> <br> 
                A child is a spiritual being in a human body of less than 18 years.
                Classes: </p>
                <ul>
                    <li>FLOWERS ( 0- 4 ) years </li>
                    <li>STARS ( 5- 9) years </li>
                    <li>CHAMPIONS ( 10- 13 ) years</li>
                    <li>GIANTS ( 14- 17 ) years</li>
                </ul>
            
            
            <h2> The Vision Bearer -Hope Apostolic Children Ministry </h2>

            Apostle Ap Peter Wako is the Founder Educated to MUK, 
            Married, Former Presenter with Innerman FM,
            <b> Founder/ Director</b> Hope Adult Schools,  Campus Restaurant Makerere & Quality Events Services / 
                Events Direct / Mobile Food services and Hope Comprehensive Institute Kampala.
            
                <p>
                    <b>Schools attended</b> <br> 
                    MUK, Excel Millennium High School Kyengera Wakiso, Tororo Modern S.S.,
                     Nangalama Baptist Primary School Bugiri
                </p>

                <p>
                 <b>Church</b>: Great Commission Fountain Church  Bweyogerere.<br>
                    Sunday School Teacher at Great Commission Fountain Church, 
                    Chief Facilitator with Unit 
                    Child Discipleship network / scheme.<br>
                    Trained with Innerman ministries in Elementary of Salvation

                </p>

        </div>
    </div>

    <p></p>

  </section>
  